SUPABASE_URL=https://gckegrybbfjlvsjeaept.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdja2VncnliYmZqbHZzamVhZXB0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0ODk3MTAsImV4cCI6MjEwMTA2NTcxMH0.bktYizkH880-I3T-wLfO2LC_PpJ9mOfGzmX4n9ku-pI
